# Data Analysis

In [3]:
import numpy as np
import pandas as pd
from asl_data import AslDb


asl = AslDb() # initializes the database
asl.df.head() # displays the first five rows of the asl database, indexed by video and frame

             left-x  left-y  right-x  right-y  nose-x  nose-y  speaker
video frame
98    0         149     181      170      175     161      62  woman-1
      1         149     181      170      175     161      62  woman-1
      2         149     181      170      175     161      62  woman-1
      3         149     181      170      175     161      62  woman-1
      4         149     181      170      175     161      62  woman-1

In [5]:
asl.df.ix[98,1]  # look at the data available for an individual frame

left-x         149
left-y         181
right-x        170
right-y        175
nose-x         161
nose-y          62
speaker    woman-1
Name: (98, 1), dtype: object

In [6]:
asl.df['grnd-ry'] = asl.df['right-y'] - asl.df['nose-y']
asl.df.head()  # the new feature 'grnd-ry' is now in the frames dictionary

             left-x  left-y  right-x  right-y  nose-x  nose-y  speaker  \
video frame
98    0         149     181      170      175     161      62  woman-1
      1         149     181      170      175     161      62  woman-1
      2         149     181      170      175     161      62  woman-1
      3         149     181      170      175     161      62  woman-1
      4         149     181      170      175     161      62  woman-1

             grnd-ry
video frame
98    0          113
      1          113
      2          113
      3          113
      4          113

In [11]:
from asl_utils import test_features_tryit

asl.df['grnd-rx'] = asl.df['right-x'] - asl.df['nose-x']
asl.df['grnd-ly'] = asl.df['left-y'] - asl.df['nose-y']
asl.df['grnd-lx'] = asl.df['left-x'] - asl.df['nose-x']

# test the code
test_features_tryit(asl)

asl.df sample

             left-x  left-y  right-x  right-y  nose-x  nose-y  speaker  \
video frame
98    0         149     181      170      175     161      62  woman-1
      1         149     181      170      175     161      62  woman-1
      2         149     181      170      175     161      62  woman-1
      3         149     181      170      175     161      62  woman-1
      4         149     181      170      175     161      62  woman-1

             grnd-ry  grnd-rx  grnd-ly  grnd-lx
video frame
98    0          113        9      119      -12
      1          113        9      119      -12
      2          113        9      119      -12
      3          113        9      119      -12
      4          113        9      119      -12

In [12]:
# collect the features into a list
features_ground = ['grnd-rx','grnd-ry','grnd-lx','grnd-ly']
 #show a single set of features for a given (video, frame) tuple
[asl.df.ix[98,1][v] for v in features_ground]

[9, 113, -12, 119]

In [13]:
training = asl.build_training(features_ground)
print("Training words: {}".format(training.words))

Training words: ['POTATO', 'CAN', 'BROTHER', 'FUTURE', 'MOTHER', 'FISH', 'ANN', 'VIDEOTAPE', 'EAT', 'ARRIVE', 'BLAME', 'LEAVE', 'TOY1', 'BORROW', 'GROUP', 'FRANK', 'WANT', 'PEOPLE', 'BUY1', 'BROCCOLI', 'WONT', 'YESTERDAY', 'LIKE', 'NOT', 'VISIT', 'MANY', 'POSS', 'TELL', 'CANDY', 'FRIEND', 'MARY', 'LAST-WEEK', 'CHINA', 'VEGETABLE', 'WHAT', 'IX', 'CHICAGO', 'BILL', 'GO', 'SOMETHING-ONE', 'PAST', 'GIVE', 'SUE', 'OLD', 'GIVE2', 'SAY', 'HERE', 'GIRL', 'FIND', 'THINK', 'LIVE', 'COAT', 'BOOK', 'TOMORROW', 'BOX', 'PARTY', 'NEW-YORK', 'STOLEN', 'NAME', 'BREAK-DOWN', 'MOVIE', 'GIVE1', 'FRED', 'TEACHER', 'HIT', 'APPLE', 'SHOULD', 'GO1', 'SHOOT', 'LOVE', 'HOUSE', 'TOY', 'WHO', 'BOY', 'NEXT-WEEK', 'PUTASIDE', 'GET', 'DECIDE', 'NEW', 'JANA', 'GIVE3', 'SEE', 'KNOW', 'READ', 'THROW', 'CHICKEN', 'MAN', 'SELF', 'FINISH', 'STUDENT', 'HAVE', 'IX-1P', 'SAY-1P', 'BLUE', 'BUY', 'ALL', 'JOHN', 'GO2', 'SEARCH-FOR', 'CORN1', 'WRITE', 'FUTURE1', 'LEG', 'CORN', 'WOMAN', 'HOMEWORK', 'SELL', 'WILL', 'BUT', 'CAR', 'PREFER', 'CHOCOLATE']

In [14]:
training.get_word_Xlengths('CHOCOLATE')

(array([[-11,  48,   7, 120],
        [-11,  48,   8, 109],
        [ -8,  49,  11,  98],
        [ -7,  50,   7,  87],
        [ -4,  54,   7,  77],
        [ -4,  54,   6,  69],
        [ -4,  54,   6,  69],
        [-13,  52,   6,  69],
        [-13,  52,   6,  69],
        [ -8,  51,   6,  69],
        [ -8,  51,   6,  69],
        [ -8,  51,   6,  69],
        [ -8,  51,   6,  69],
        [ -8,  51,   6,  69],
        [-10,  59,   7,  71],
        [-15,  64,   9,  77],
        [-17,  75,  13,  81],
        [ -4,  48,  -4, 113],
        [ -2,  53,  -4, 113],
        [ -4,  55,   2,  98],
        [ -4,  58,   2,  98],
        [ -1,  59,   2,  89],
        [ -1,  59,  -1,  84],
        [ -1,  59,  -1,  84],
        [ -7,  63,  -1,  84],
        [ -7,  63,  -1,  84],
        [ -7,  63,   3,  83],
        [ -7,  63,   3,  83],
        [ -7,  63,   3,  83],
        [ -7,  63,   3,  83],
        [ -7,  63,   3,  83],
        [ -7,  63,   3,  83],
        [ -7,  63,   3,  83],
        [ -4,  70,   3,  83],
        [ -4,  70,   3,  83],
        [ -2,  73,   5,  90],
        [ -3,  79,  -4,  96],
        [-15,  98,  13, 135],
        [ -6,  93,  12, 128],
        [ -2,  89,  14, 118],
        [  5,  90,  10, 108],
        [  4,  86,   7, 105],
        [  4,  86,   7, 105],
        [  4,  86,  13, 100],
        [ -3,  82,  14,  96],
        [ -3,  82,  14,  96],
        [  6,  89,  16, 100],
        [  6,  89,  16, 100],
        [  7,  85,  17, 111]], dtype=int64), [17, 20, 12])

In [15]:
df_means = asl.df.groupby('speaker').mean()
df_means

,left-x,left-y,right-x,right-y,nose-x,nose-y,grnd-ry,grnd-rx,grnd-ly,grnd-lx
speaker,,,,,,,,,,
man-1,206.248203,218.679449,155.464350,150.371031,175.031756,61.642600,88.728430,-19.567406,157.036848,31.216447
woman-1,164.661438,161.271242,151.017865,117.332462,162.655120,57.245098,60.087364,-11.637255,104.026144,2.006318
woman-2,183.214509,176.527232,156.866295,119.835714,170.318973,58.022098,61.813616,-13.452679,118.505134,12.895536

In [16]:
asl.df['left-x-mean']= asl.df['speaker'].map(df_means['left-x'])
asl.df.head()

             left-x  left-y  right-x  right-y  nose-x  nose-y  speaker  \
video frame
98    0         149     181      170      175     161      62  woman-1
      1         149     181      170      175     161      62  woman-1
      2         149     181      170      175     161      62  woman-1
      3         149     181      170      175     161      62  woman-1
      4         149     181      170      175     161      62  woman-1

             grnd-ry  grnd-rx  grnd-ly  grnd-lx  left-x-mean
video frame
98    0          113        9      119      -12   164.661438
      1          113        9      119      -12   164.661438
      2          113        9      119      -12   164.661438
      3          113        9      119      -12   164.661438
      4          113        9      119      -12   164.661438

In [18]:
from asl_utils import test_std_tryit
# TODO Create a dataframe named `df_std` with standard deviations grouped by speaker
df_std = asl.df.groupby('speaker').std()

# test the code
test_std_tryit(df_std)

df_std

,left-x,left-y,right-x,right-y,nose-x,nose-y,grnd-ry,grnd-rx,grnd-ly,grnd-lx,left-x-mean
speaker,,,,,,,,,,,
man-1,15.154425,36.328485,18.901917,54.902340,6.654573,5.520045,53.487999,20.269032,36.572749,15.080360,0.0
woman-1,17.573442,26.594521,16.459943,34.667787,3.549392,3.538330,33.972660,16.764706,27.117393,17.328941,0.0
woman-2,15.388711,28.825025,14.890288,39.649111,4.099760,3.416167,39.128572,16.191324,29.320655,15.050938,0.0

In [ ]:
# TODO add features for normalized by speaker values of left, right, x, y
# Name these 'norm-rx', 'norm-ry', 'norm-lx', and 'norm-ly'
# using Z-score scaling (X-Xmean)/Xstd

features_norm = ['norm-rx', 'norm-ry', 'norm-lx','norm-ly']